<html>
    <head>
        <title>Ilmakiekko</title>
        <meta content="Ilmakiekko-peli">
        <meta charset="utf-8"> 
        <style></style>
    </head>
    <body>
       <center> 
           <h1> vastustaja </h1>
           <canvas id="canvas" width="280" height="520"></canvas>
           <h1> sinä </h1>    
       </center>
       <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
       <script type="text/javascript" charset="utf-8">
       $(document).ready(function(){
	       var canvas = $('#canvas')[0];
           var context = canvas.getContext('2d');
           
           var id = lueID();
           var pelaaja = luePelaaja();
           var offset = 20;
           var pöytäLeveys = canvas.width - offset * 2;
           var pöytäPituus = canvas.height - offset * 2;
           var mailaSäde = pöytäLeveys / 12;

           var maila1X = pöytäLeveys / 2;
           var maila1Y = pöytäPituus / 8 * 7;
           var maila2X = pöytäLeveys / 2;
           var maila2Y = pöytäPituus / 8;
           var kiekkoX = pöytäLeveys / 2;
           var kiekkoY = pöytäPituus / 2;
           
           function Esine(x, y, m) {
        	   this.x1 = x;				//edellinen koordinaatti
        	   this.y1 = y;
        	   this.x = x;				//nykyinen koordinaatti
        	   this.y = y;
        	   this.nopeus = [0, 0];
        	   this.massa = m;
           }
           
           var maila1 = new Esine(maila1X, maila1Y, 10000);		//Mailoilla täytyy olla suuri massa suhteessa kiekkoon,
           var maila2 = new Esine(maila2X, maila2Y, 10000);		//jotta saadaan realistinen nopeuden muuto kiekolle
           var kiekko = new Esine(kiekkoX, kiekkoY, 1);
           
	       if ("WebSocket" in window) {
		       ws = new WebSocket("ws://" + document.domain + ":5000/api");
		       ws.onmessage = function (msg) {
		    	   var data = JSON.parse(msg.data);
		    	   
		    	   if (data.type === "hiiri" && data.id === id) {
	    			   var hiiri = data.paikka;
	    			   
	    			   if (data.pelaaja == pelaaja){
				    	   maila1.x = hiiri.x;
			               if (maila1.x - mailaSäde < 0)
			                   maila1.x = mailaSäde;
			               if (maila1.x + mailaSäde > pöytäLeveys - 1)
			                   maila1.x = pöytäLeveys - 1 - mailaSäde;

			               maila1.y = hiiri.y;
			               if (maila1.y - mailaSäde < pöytäPituus / 2)
			                   maila1.y = pöytäPituus / 2 + mailaSäde;
			               if (maila1.y + mailaSäde > pöytäPituus - 1)
			                   maila1.y = pöytäPituus - 1 - mailaSäde;
			               
		               } else {
			               maila2.x = pöytäLeveys-hiiri.x;
			               if (maila2.x - mailaSäde < 0)
			                   maila2.x = mailaSäde;
			               if (maila2.x + mailaSäde > pöytäLeveys - 1)
			                   maila2.x = pöytäLeveys - 1 - mailaSäde;

			               maila2.y = pöytäPituus-hiiri.y;
			               if (maila2.y - mailaSäde < 0)
			                   maila2.y = mailaSäde;
			               if (maila2.y + mailaSäde > pöytäPituus / 2 - 1)
			                   maila2.y = pöytäPituus / 2 - 1 - mailaSäde;
		               }
	    			   
		    	   } else if (data.type === "kiekko" && data.id != id) {
		    		   kiekko.x = data.kiekkoX;								//Kiekon sijainnin ja nopeuden päivitys toiselle pelaajalle
		    		   kiekko.y = data.kiekkoY;
		    		   kiekko.nopeus = data.nopeus;
		    	   }
		       };
	       } else {
	    	   alert("Selaimesi ei tue WebSocket:ia");
	       }
   
           canvas.addEventListener('mousemove', function(evt) { 
               var data = {"type": "hiiri", "paikka": hiirenPaikka(canvas, evt), "id": id, "pelaaja":pelaaja};
        	   ws.send(JSON.stringify(data));
           }, false);
           
           var pelisilmukka = function() {
        	   maila1.nopeus = [maila1.x - maila1.x1, maila1.y - maila1.y1];
        	   maila2.nopeus = [maila2.x - maila2.x1, maila2.y - maila2.y1];
        	   
        	   maila1.x1 = maila1.x;
        	   maila1.y1 = maila1.y;
        	   maila2.x1 = maila2.x;
        	   maila2.y1 = maila2.y;
        	   
        	   havaitseTörmäykset();							//Funktio päivittää kiekon nopeuden mahdollisten törmäysten perusteella
               
        	   if (kiekko.nopeus[0] != 0 && kiekko.nopeus[1] != 0) {	//Jos nopeus ei ole 0 niin kiekon sijainti päivitetään ja
        		   lähetäKiekkotiedot();								//tiedot lähetetään toiselle pelaajalle.
            	   kiekko.x += kiekko.nopeus[0];
    	           kiekko.y += kiekko.nopeus[1];
    	           kiekko.nopeus[0] *= (499/500);						//Kitkavaikutus (499/500 tarkoittaa, että kiekko menettää)
    	           kiekko.nopeus[1] *= (499/500);						//1/500 osan vauhdistaan joka ruudunpäivityksellä
        	   }
               piirräKaikki();
           };

           var animFrame = window.requestAnimationFrame ||
                   window.webkitRequestAnimationFrame 	||
                   window.mozRequestAnimationFrame    	||
                   window.oRequestAnimationFrame      	||
                   window.msRequestAnimationFrame    	||
                   null;

           if (animFrame !== null) {
               var recursiveAnim = function() {					//Pelisilmukka suoritetaan joka ruudunpäivityksellä
                   pelisilmukka();
                   animFrame(recursiveAnim, canvas);
               };
               animFrame(recursiveAnim, canvas);
           } else {
               setInterval(pelisilmukka, 1000.0 / 60.0);		//Jos selain ei tue requestAnimationFrame:a, niin käytetään setInterval:ia
           }
           
           function lueID(){
	   		    var vars = window.location.search.substring(1).split('&');
	   		    for (var i = 0; i < vars.length; i++) {
	   		        var pari = vars[i].split('=');
	   		        if (decodeURIComponent(pari[0]) == 'id') {
	   		            return 1 * decodeURIComponent(pari[1]);
	   		        }
	   		    }  
	   		    return 0;
           }
           
           function luePelaaja(){
	   		    var vars = window.location.search.substring(1).split('&');
	   		    for (var i = 0; i < vars.length; i++) {
	   		        var pari = vars[i].split('=');
	   		        if (decodeURIComponent(pari[0]) == 'pelaaja') {
	   		            return 1 * decodeURIComponent(pari[1]);
	   		        }
	   		    }  
	   		    return 0;
          }
           
           function hiirenPaikka(canvas, evt) {
               var rect = canvas.getBoundingClientRect();
               return {
                   x: Math.floor(evt.clientX - rect.left - offset),
                   y: Math.floor(evt.clientY - rect.top - offset)
               };
           }
           
           function piirräKaikki() {
               context.clearRect(0, 0, canvas.width, canvas.height);
               teePöytä();
               piirräMaila(maila1.x, maila1.y, 1);
               piirräMaila(maila2.x, maila2.y, 2);
               piirräKiekko(kiekko.x, kiekko.y, offset * 2);
           }
           
           function teePöytä() {
               reuna(-1, -1, pöytäLeveys / 3, -1);
               reuna(pöytäLeveys / 3 * 2, 0, pöytäLeveys, -1);
               reuna(-1, -1, -1, pöytäPituus);
               reuna(pöytäLeveys, -1, pöytäLeveys, pöytäPituus);
               reuna(-1, pöytäPituus, pöytäLeveys / 3, pöytäPituus);
               reuna(pöytäLeveys / 3 * 2, pöytäPituus, pöytäLeveys, pöytäPituus);
           }
           
           function reuna(x, y, x2, y2) {
               context.beginPath();
               context.moveTo(offset + x, offset + y);
               context.lineTo(offset + x2, offset + y2);
               context.lineCap = 'round';
               context.lineWidth = 2;
               context.stroke();
           }
           
           function piirräMaila(x, y, p) {
               piirräYmpyrä(x, y, mailaSäde, ['red', 'blue'][p - 1]);
           }
           
           function piirräKiekko(x, y) {
               piirräYmpyrä(x, y, mailaSäde / 2, '#222222');
           }
           
           function piirräYmpyrä(x, y, r, c) {
               context.beginPath();
               context.arc(x + offset, y + offset, r, 0, 2 * Math.PI, false);
               context.fillStyle = c;
               context.fill();
               context.lineWidth = 1;
               context.strokeStyle = '#333333';
               context.stroke();
           }
           
           function havaitseTörmäys(maila) {
        	   var dx = maila.x - kiekko.x;
        	   var dy = maila.y - kiekko.y;
        	   var etäisyys = Math.sqrt(dx*dx + dy*dy);
        	   
        	   if (etäisyys < mailaSäde + mailaSäde/2) {
        		   return true;
        	   } else {
        		   return false;
        	   }
        	   
           }
           
           function havaitseTörmäykset() {
        	   var kiekkoSäde = mailaSäde / 2;
        	   
        	   if (havaitseTörmäys(maila1)) {
				   laskeTörmäys(maila1);
			   }
			   if (havaitseTörmäys(maila2)) {
				   laskeTörmäys(maila2);
			   }
			   if (kiekko.x - kiekkoSäde < 0 || kiekko.x + kiekkoSäde >= pöytäLeveys) {
                   kiekko.nopeus[0] = - kiekko.nopeus[0];
           	   }
			   if (kiekko.y - kiekkoSäde < 0 || kiekko.y + kiekkoSäde >= pöytäPituus) {
                   kiekko.nopeus[1] = - kiekko.nopeus[1];
			   }
           }
           
           function laskeTörmäys(maila) {
        	   kiekko.nopeus[0] = (kiekko.nopeus[0] * (kiekko.massa - maila.massa) + (2 * maila.massa * maila.nopeus[0])) / (kiekko.massa + maila.massa);
        	   kiekko.nopeus[1] = (kiekko.nopeus[1] * (kiekko.massa - maila.massa) + (2 * maila.massa * maila.nopeus[1])) / (kiekko.massa + maila.massa);
           }
           
           function lähetäKiekkotiedot() {
        	   var data = {"type": "kiekko", "kiekkoX": kiekko.x, "kiekkoY": kiekko.y, "nopeus": kiekko.nopeus, "id": id};
        	   ws.send(JSON.stringify(data));
           }
       }); 
            
        </script>
    </body>
</html>
