<html>
    <head>
        <title>Ilmakiekko</title>
        <meta content="Ilmakiekko-peli">
        <meta charset="utf-8"> 
        <style></style>
    </head>
    <body>
       <center> 
           <h1> vastustaja </h1>
           <canvas id="canvas" width="280" height="520"></canvas>
           <h1> sinä </h1>    
       </center>
       <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
       <script type="text/javascript" charset="utf-8">
       $(document).ready(function(){
	       var canvas = $('#canvas')[0];
           var context = canvas.getContext('2d');
           
           var id = lueID();
           var pelaaja = luePelaaja();
           var offset = 20;
           var pöytäLeveys = canvas.width - offset * 2;
           var pöytäPituus = canvas.height - offset * 2;
           var mailaSäde = pöytäLeveys / 12;

           var maila1X = pöytäLeveys / 2;
           var maila1Y = pöytäPituus / 8 * 7;
           var maila2X = pöytäLeveys / 2;
           var maila2Y = pöytäPituus / 8;
           var kiekkoX = pöytäLeveys / 2;
           var kiekkoY = pöytäPituus / 2;
           
           function Esine(x, y) {
        	   this.x1 = x;				//edellinen x-koordinaatti
        	   this.y1 = y;				//edellinen y-koordinaatti
        	   this.x = x;
        	   this.y = y;
        	   this.nopeus = [this.x - this.x1, this.y - this.y1];
           }
           
           var maila1 = new Esine(maila1X, maila1Y);
           var maila2 = new Esine(maila2X, maila2Y);
           var kiekko = new Esine(kiekkoX, kiekkoY);
           
	       if ("WebSocket" in window) {
		       ws = new WebSocket("ws://" + document.domain + ":5000/api");
		       ws.onmessage = function (msg) {
		    	   var data = JSON.parse(msg.data);
		    	   if (data.type === "hiiri" && data.id === id) {
	    			   var hiiri = data.paikka;
	    			   if (data.pelaaja == pelaaja){
	    				   maila1.x1 = maila1.x;
				    	   maila1.x = hiiri.x;
			               if (maila1.x - mailaSäde < 0)
			                   maila1.x = mailaSäde;
			               if (maila1.x + mailaSäde > pöytäLeveys - 1)
			                   maila1.x = pöytäLeveys - 1 - mailaSäde;
			               maila1.y1 = maila1.y;
			               maila1.y = hiiri.y;
			               if (maila1.y - mailaSäde < pöytäPituus / 2)
			                   maila1.y = pöytäPituus / 2 + mailaSäde;
			               if (maila1.y + mailaSäde > pöytäPituus - 1)
			                   maila1.y = pöytäPituus - 1 - mailaSäde;
		               } else {
		            	   maila2.x1 = maila2.x;
			               maila2.x = pöytäLeveys-hiiri.x;
			               if (maila2.x - mailaSäde < 0)
			                   maila2.x = mailaSäde;
			               if (maila2.x + mailaSäde > pöytäLeveys - 1)
			                   maila2.x = pöytäLeveys - 1 - mailaSäde;
			               maila2.y1 = maila2.y;
			               maila2.y = pöytäPituus-hiiri.y;
			               if (maila2.y - mailaSäde < 0)
			                   maila2.y = mailaSäde;
			               if (maila2.y + mailaSäde > pöytäPituus / 2 - 1)
			                   maila2.y = pöytäPituus / 2 - 1 - mailaSäde;     
		               }
	    			   for (var maila in [maila1, maila2]) {
	    				   if (havaitseTörmäys(maila)) {
	    					   //laskeTörmäys(maila);			//ei toimi vielä
	    				   }
	    			   }
		               piirräKaikki();
		    	   }
		    	  
		       };
	       } else {
	    	   alert("Selaimesi ei tue WebSocket:ia");
	       }
   
           canvas.addEventListener('mousemove', function(evt) { 
               var data = {type: "hiiri", paikka: hiirenPaikka(canvas, evt), "id": id, "pelaaja":pelaaja}
        	   ws.send(JSON.stringify(data)) 
           }, false);
           
           kiekko.x += kiekko.nopeus[0];
           kiekko.y += kiekko.nopeus[1];
           
           piirräKaikki();
           
           function lueID(){
	   		    var vars = window.location.search.substring(1).split('&');
	   		    for (var i = 0; i < vars.length; i++) {
	   		        var pari = vars[i].split('=');
	   		        if (decodeURIComponent(pari[0]) == 'id') {
	   		            return 1 * decodeURIComponent(pari[1]);
	   		        }
	   		    }  
	   		    return 0;
           }
           
           function luePelaaja(){
	   		    var vars = window.location.search.substring(1).split('&');
	   		    for (var i = 0; i < vars.length; i++) {
	   		        var pari = vars[i].split('=');
	   		        if (decodeURIComponent(pari[0]) == 'pelaaja') {
	   		            return 1 * decodeURIComponent(pari[1]);
	   		        }
	   		    }  
	   		    return 0;
          }
           
           function hiirenPaikka(canvas, evt) {
               var rect = canvas.getBoundingClientRect();
               return {
                   x: Math.floor(evt.clientX - rect.left - offset),
                   y: Math.floor(evt.clientY - rect.top - offset)
               };
           }
           
           function piirräKaikki() {
               context.clearRect(0, 0, canvas.width, canvas.height);
               teePöytä();
               piirräMaila(maila1.x, maila1.y, 1);
               piirräMaila(maila2.x, maila2.y, 2);
               piirräKiekko(kiekko.x, kiekko.y, offset * 2);
           }
           
           function teePöytä() {
               reuna(-1, -1, pöytäLeveys / 3, -1);
               reuna(pöytäLeveys / 3 * 2, 0, pöytäLeveys, -1);
               reuna(-1, -1, -1, pöytäPituus);
               reuna(pöytäLeveys, -1, pöytäLeveys, pöytäPituus);
               reuna(-1, pöytäPituus, pöytäLeveys / 3, pöytäPituus);
               reuna(pöytäLeveys / 3 * 2, pöytäPituus, pöytäLeveys, pöytäPituus);
           }
           
           function reuna(x, y, x2, y2) {
               context.beginPath();
               context.moveTo(offset + x, offset + y);
               context.lineTo(offset + x2, offset + y2);
               context.lineCap = 'round';
               context.lineWidth = 2;
               context.stroke();
           }
           
           function piirräMaila(x, y, p) {
               piirräYmpyrä(x, y, mailaSäde, ['red', 'blue'][p - 1]);
           }
           
           function piirräKiekko(x, y) {
               piirräYmpyrä(x, y, mailaSäde / 2, '#222222');
           }
           
           function piirräYmpyrä(x, y, r, c) {
               context.beginPath();
               context.arc(x + offset, y + offset, r, 0, 2 * Math.PI, false);
               context.fillStyle = c;
               context.fill();
               context.lineWidth = 1;
               context.strokeStyle = '#333333';
               context.stroke();
           }
           
           function havaitseTörmäys(maila) {
        	   var dx = maila.x - kiekko.x;
        	   var dy = maila.y - kiekko.y;
        	   var etäisyys = Math.sqrt(dx^2 + dy^2);
        	   
        	   if (etäisyys < mailaSäde + mailaSäde/2) {
        		   return true;
        	   } else {
        		   return false;
        	   }
        	   
           }
           //TODO: ei toimi vielä
           function laskeTörmäys(maila) {
        	   kiekko.nopeus[0] = -kiekko.nopeus[0] + maila.nopeus[0];
        	   kiekko.nopeus[1] = -kiekko.nopeus[1] + maila.nopeus[1];
           }
       }); 
            
        </script>
    </body>
</html>
